<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualidade.qapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.Login_Record"></activity>
        <activity android:name=".login.Login_ListaUsers" />
        <activity android:name=".rejeitos_dod.DashBoardDOD" />
        <activity
            android:name=".rejeitos_dod.ActivityRejeitosDod"
            android:parentActivityName=".rejeitos_dod.FormDOD" />
        <activity android:name=".psc_bancario.ActivityPSCRecord" />
        <activity android:name=".TelaReceb" />
        <activity
            android:name=".psc_bancario.ActivityPscResult"
            android:parentActivityName=".psc_bancario.ActivityPSCRecord" />
        <activity android:name=".rejeitos_dod.FormDOD" />
        <activity android:name=".telainicial.TelaPrincipal" />
        <activity
            android:name=".dashboard.ActivityDashBoard"
            android:parentActivityName=".telainicial.TelaPrincipal" />
        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>